.experience {
    padding: 0 15px 4px;
    position: relative;
    max-width: 600px;
    background-image: linear-gradient(to right bottom, #0c0c0c, #121018, #151321, #19152b, #1c1735, #1f183c, #221943, #251a4a, #271b50, #291c56, #2b1c5c, #2d1d62);
    border-radius: 8px;
    box-shadow: 5px 5px 20px -5px var(--sh-project);
    animation: experienceEnter 1s forwards;
}


@keyframes experienceEnter {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 8px;

    flex-direction: column;
    align-items: flex-start;
}


.info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.location {
    font-size: 14px;
    color: var(--tc-project-title);
}

.infoDetails {
    display: flex;
    flex-direction: column;
}

.jobType {
    font-size: 14px;
    color: var(--tc-project-title);
    font-style: italic;
    margin-top: 5px;
    margin-bottom: 5px;
}

.jobType:first-letter {
    text-transform: uppercase;
}

.time {
    font-size: 13px;
    width: 100%;
    display: flex;
    margin-top: 8px;
}

.timeCapitalize {
    text-transform: capitalize;
}

.technology:first-of-type {
    margin-left: 0;
}

.experience h2 {
    margin-top: 0;
    color: var(--text-color);
    text-shadow: 4px 4px 10px var(--tsh-project);
    transition: color, text-shadow .5s;
    font-family: "Dancing Script", serif;
    font-size: 36px;
    margin-bottom: 12px;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
}

.responsibilities {
    padding-left: 20px;
}

.company {
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 12px;
    color: var(--text-color);
}

.technology {
    margin-left: 12px;
}

.experience > p {
    margin-top: 18px;
}

.duration {
    font-weight: bold;
    color: #38c188;
    margin-left: 10px;
    margin-right: auto;
}

.description {
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--tc-project-title);
    font-size: 0.9em;
}


@media (min-width: 768px) {
    .header {
        flex-direction: column;
        margin-bottom: 18px;
    }

    .header > div:first-child {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .info {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }

    .experience {
        width: 600px;
        padding: 5px 20px 15px;
    }

    .experience h2 {
        margin-bottom: 5px;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .details > div {
        display: flex;
    }

    .company {
        margin: 0;
    }

    .time {
        width: unset;
        display: unset;
        margin-top: unset;
    }

    .time > span:last-child {
        position: relative;
        margin-left: 15px;
    }

    .time > span:last-child::after {
        content: '·';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        font-size: 30px;

    }

}
