.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    font-family: 'Dancing Script', serif;
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 10px 10px;
}

.footer > div {
    position: relative;
    top: 45px;
}

.logoNextJs {
    width: calc(100% - 20px);
    height: auto;
    object-fit: scale-down;
}

@media (min-width: 768px) {
    .footer {
        margin-top: 80px;
        background-color: var(--bg-project);
        flex-direction: row;
        padding: 50px 100px;
    }

    .footer > div {
        margin-top: 0;
    }

    .logoNextJs {
        width: 300px;
        height: 349px;
        object-fit: scale-down;
    }

}
