.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color);
    text-align: center;
    /*height: 500px;*/
    font-family: 'Dancing Script', serif;
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 10px 10px;
    height: 600px;
}

.footer > div {
    position: relative;
    top: 45px;
}

@media (min-width: 768px) {
    .footer {
        height: unset;
        margin-top: 80px;
        background-color: var(--bg-project);
        flex-direction: row;
        padding: 50px 100px;
    }

    .footer > div {
        margin-top: 0;
    }

}
