.letter {
    display: inline-block;
    transform: translateY(-300px);
    animation: inputFocusAnimation 1s ease-in forwards;
    cursor: default;
    transition: .5s;
    color: var(--text-color);
}

.letter:nth-child(even):hover {
    transform: rotate(10deg) scale(1.15) !important;
    color: var(--green);
}

.letter:nth-child(odd):hover {
    transform: rotate(-10deg) scale(1.15) !important;
    color: var(--blue);
}

@keyframes inputFocusAnimation {
    0% {
        transform: translateY(-300px);
        color: #3888c1;
    }

    50% {
        transform: scale(2) rotate(-25deg);
    }

    90% {
        color: #38c188;
    }

    100% {
        transform: translateY(0) translateX(0);
    }
}

.letter::selection {
    color: #38c188;
    background: #3888c1;
}
