@import "../../assets/sass/variables";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 12px;
  padding-left: 6px;
  padding-right: 6px;
  background: $color-default;
  height: calc(100vh - 52px);
  overflow-y: scroll;

  &__card {
    background: $color-white;
    text-align: center;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    margin-bottom: 16px;
    padding: 12px;
    width: calc(100% - 24px);
  }

  &__picture {
    width: 128px;
    border: 4px solid white;
    border-radius: 50%;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    margin-top: 12px;
    margin-bottom: 12px;
  }

  .personal-detail {
    margin-top: 8px;
    margin-bottom: 8px;

    &:first-letter {
      text-transform: uppercase;
    }
  }

  &__name {
  }

  &__position {
    //margin-top: 8px;
    //margin-bottom: 8px;
  }

  &__location {
  }

  &__description {
    text-align: justify;
    line-height: 1.2;
    padding-left: 10px;
    padding-right: 10px;

    > p {
      margin-top: 12px;
      margin-bottom: 12px;
    }
  }

}

