@import "../../assets/sass/variables";

.experience {
  background: #fcfcfc;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  margin-bottom: 16px;
  padding: 12px;
  width: calc(100% - 24px);

  &__title {
    font-weight: 700;
  }

  &__location,
  &__description {
    color: $color-default;
  }

  > div {
    margin-bottom: 8px;
  }

}

.tags {
  display: flex;
  flex-wrap: wrap;

  .tag {
    background: $color-default;
    margin: 4px 4px;
    padding: 4px 10px;
    border-radius: 3px;
    color: $color-white;
  }
}

.rating {
  > .rate-enabled {
    color: #FFD700;
  }
}

.languages {
  .language {
    display: flex;

    &:not(:first-child) {
      margin-top: 12px;
    }

    .rating {
      margin-left: auto;
    }

  }
}
