@import "../../assets/sass/variables";

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 55px;
  padding-left: 6px;
  padding-right: 6px;
  background: $color-default;
}
