.chip {
    align-self: flex-start;
    padding: 1px 9px;
    background-color: var(--bg-technology);;
    color: var(--text-color);
    font-size: 13px;
    border-radius: 4px;
    display: inline-block;
    box-shadow: var(--tsh-experience-separator);
    cursor: default;
}

.chip:first-letter {
    text-transform: uppercase;
}
