.counter {
    display: inline-block;
    height: 18px;
    overflow: hidden;
    position: relative;
    top: 2px;
}


.counter > div {
    transform: translateY(calc(-100% + 20px));
    animation: move 2s 5s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
}

@keyframes move {
    0% {
        transform: translateY(calc(-100% + 20px));
    }
    100% {
        transform: translateY(0);
    }
}
