.experience {
    padding: 0 15px;
    position: relative;
    max-width: 600px;
    background-color: var(--bg-project);
    border-radius: 8px;
    box-shadow: 5px 5px 20px -5px var(--sh-project);
}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 8px;

    flex-direction: column;
    align-items: flex-start;
}

.time {
    font-size: 13px;
    width: 100%;
    display: flex;
}

.time > span:last-child {
    margin-left: auto;
}

.timeCapitalize {
    text-transform: capitalize;
}

.technology:first-of-type {
    margin-left: 0;
}

.experience h2 {
    margin-top: 0;
    color: var(--tc-project-title);
    text-shadow: 4px 4px 10px var(--tsh-project);
    transition: color, text-shadow .5s;
    margin-bottom: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.company {
    font-weight: bold;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 12px;
}

.technology {
    margin-left: 12px;
}

.experience > p {
    margin-top: 18px;
}

.duration {
    font-weight: bold;
    color: #38c188;
}


@media (min-width: 768px) {
    .header {
        flex-direction: row;
        align-items: center;
        margin-bottom: 18px;
    }

    .experience {
        padding: 8px 25px;
    }

    .experience h2 {
        margin-bottom: 0;
    }

    .details {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .details > div {
        display: flex;
    }

    .company {
        margin: 0;
    }

    .time {
        width: unset;
        display: unset;
    }

    .time > span:last-child {
        position: relative;
        margin-left: 15px;
    }

    .time > span:last-child::after {
        content: '·';
        position: absolute;
        top: 50%;
        left: -10px;
        transform: translateY(-50%);
        font-size: 30px;

    }

}
