.header {
    padding-top: 45px;
    padding-bottom: 35px;
    background-color: var(--bg-header);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: radial-gradient(var(--bgi) 1px, transparent 0);
    background-size: 14px 14px;
    background-position: -10px -10px;
    transition: background-color .5s;
}

.header > div {
    min-height: 100px;
}

.text {
    font-size: 4rem;
    text-shadow: 1px 5px 6px rgba(0, 0, 0, 0.61);
    font-family: 'Catamaran bold', sans-serif;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 20px;
}

.name:first-child {
    margin-bottom: 20px;
}

.description {
}

.word {
    display: inline-block;
    overflow: visible;
}

@media (min-width: 768px) {
    .text {
        margin-left: 0;
        line-height: 1.35em;
    }

    .name {
        margin-bottom: 0;
    }
}
