.container {
    /*padding: 0 2rem;*/
    transition: background-color .5s;
    background-color: var(--background);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.main {
    transition: background-color .5s;
    background-color: var(--bg-main);
    max-width: 100%;
    align-self: center;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 15px -12px var(--sh-main);
    border-radius: 3px;
    padding: 50px 8px 80px;
}

.section {
    margin-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.section ::selection {
    color: #38c188;
    background: #3888c1;
}

.section:last-child {
    margin-bottom: 0;
}

.section > h2 {
    font-family: 'Catamaran bold', sans-serif;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--tc-title-main);
    align-self: center;

}

.section > h2::selection {
    color: #38c188;
    background: #3888c1;
}

.infoAbout {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.infoProjects {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 45px;
}

.infoContact {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.important {
    font-weight: bold;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    justify-items: center;
    row-gap: 60px;
    column-gap: 30px;
    width: 100%;
    margin-top: 15px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 35px;
    background-color: var(--bg-project);
    border: 1px solid var(--bg-project);
    border-radius: 8px;
    box-shadow: 5px 5px 20px -5px var(--sh-form);
    transition: background-color, box-shadow, border .5s;
}

.formTitle {
    margin-top: 0;
}

.input {
    margin-bottom: 15px;
}

.button {
    margin-top: 65px;
}

.button > span {
    color: var(--text-color);
    transition: color .5s;
}

.socialNetworks {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-around;
}

.socialNetworks > a {
    margin: 5px 15px 20px;
}

.socialNetworks > a > svg {
    transition: 1s;
    width: 60px;
}

.socialNetworks > a:hover > svg {
    fill: #38c188;
    stroke: rgba(56, 193, 136, 0.75);
    filter: drop-shadow(1px 1px 3px rgba(33, 33, 33, 0.75));
}

@media (min-width: 768px) {

    .main {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 1400px;
    }

    .section {
        flex-direction: column;
        align-items: center;
    }

    .form {
        width: 500px;
    }

    .infoAbout {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .infoProjects {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .infoContact {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 80px;
    }

    .section > h2 {
        font-size: 75px;

    }

}

/*@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}*/

/*
@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
*/
