.container {
    display: flex;
    flex-direction: column;
    height: 60px;
}

.label {
    align-self: flex-start;
}

.letter {
    display: inline-block;
    transform: translateY(30px) translateX(8px);
    animation: inputBlurAnimation .3s ease-in forwards;
}

.animated {
    animation: inputFocusAnimation .3s ease-in forwards;
}

.inputWrapper {
    background-color: #505050;
    height: 40px;
    display: flex;
    padding-left: 8px;
    padding-right: 8px;
}

.input {
    background-color: transparent;
    border: none;
    color: #fafafa;
    width: 100%;
}

.input::placeholder {
    color: #000;
}

.input:focus-visible {
    outline: none;
}

.textareaWrapper {
    background-color: #505050;
    padding-left: 8px;
    padding-right: 8px;
    height: 80px;
}

.textareaWrapper > textarea {
    height: 80px;
    padding-top: 12px;
}

@keyframes inputFocusAnimation {
    0% {
        transform: translateY(30px) translateX(8px);
        color: #fafafa;
    }

    50% {
        transform: scale(2) rotate(-25deg);
    }

    100% {
        transform: translateY(0) translateX(0);
        color: #38c188;
    }
}

@keyframes inputBlurAnimation {
    0% {
        transform: translateY(0) translateX(0);
        color: #38c188;
    }

    50% {
        transform: scale(2) rotate(25deg);
    }

    100% {
        transform: translateY(30px) translateX(8px);
        color: #fafafa;
    }
}
