.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 25px;
}

.menu > div {
    background-color: #111;
    height: 4px;
    width: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 4px;
    transition: .35s;
}

@media (min-width: 768px) {
    .menu {
        display: none;
    }
}
