.project {
    display: flex;
    flex-direction: column;
    padding: 15px 25px 5px;
    background-color: #222;
    border-radius: 8px;
    width: 350px;
    box-shadow: 5px 5px 20px -5px rgb(17, 17, 17);

    /*    background-image: linear-gradient(
                45deg,
                hsl(0deg 0% 7%) 0%,
                hsl(344deg 0% 8%) 10%,
                hsl(344deg 0% 9%) 20%,
                hsl(344deg 0% 11%) 30%,
                hsl(344deg 0% 12%) 40%,
                hsl(0deg 0% 13%) 50%,
                hsl(344deg 0% 15%) 60%,
                hsl(344deg 0% 16%) 70%,
                hsl(344deg 0% 17%) 80%,
                hsl(344deg 0% 19%) 90%,
                hsl(0deg 0% 20%) 100%
        );*/
}

.title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.title > h2 {
    color: #909090;
    text-shadow: 4px 4px 10px #111;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}

.title > .chip {
    align-self: flex-start;
    padding: 1px 8px;
    margin-top: 5px;
    font-size: 13px;
    border-radius: 20px;
    color: #fafafa;
}

.title > .chip:first-letter {
    text-transform: uppercase;
}

.image {
    align-self: center;
    margin-bottom: 15px;
}

.image img {
    border-radius: 40px;
}

.links {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.subtitle {
    color: #909090;
    text-shadow: 4px 4px 10px #111;
}

.pages {
    margin-top: auto;
}

.link {
    margin-bottom: 15px;
    margin-right: 15px;
}

.link:first-child {
    margin-left: 0;
}

.noLinksAvailable {
    margin-bottom: 20px;
    color: #696969;
}
