:root {
    --header-height: 92px;
    --content-width: 1400px;
    --nav-scale: 1;
    --nav-width: 100%;
}


@media (min-width: 768px) {
    :root {
        --nav-scale: 1;
        --nav-width: 1450px;
    }
}
