$color-default: #999999; // Default
$color-primary: #6a6783; // Dolphin
$color-info: #23396f; // Astronaut
$color-success: #55995f; // Fruit Salad
$color-warning: #d28927; // Brandy Punch
$color-danger: #f44336; // Pomegranate
$color-white: #fcfcfc;
